services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-init:
    image: postgres:16-alpine
    container_name: postgres-init
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PGPASSWORD: password
    command: >
      sh -c "psql -h postgres -U postgres -tc \"SELECT 1 FROM pg_database WHERE datname = 'keycloak'\" | grep -q 1 || createdb -h postgres -U postgres keycloak"

volumes:
  postgres_data:
