{{- if .Values.keycloak.enabled -}}
apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: {{ .Values.keycloak.name }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  instances: {{ .Values.keycloak.instances }}
{{- if .Values.postgresql.enabled }}
  db:
    vendor: postgres
    host: {{ .Values.postgresql.fullnameOverride }}
    port: 5432
    database: {{ .Values.postgresql.auth.database }}
    usernameSecret:
      name: {{ .Values.keycloak.db.secretName }}
      key: username
    passwordSecret:
      name: {{ .Values.keycloak.db.secretName }}
      key: password
{{- else -}}
  db:
    vendor: postgres
    host: {{ .Values.keycloak.db.host }}
    port: {{ .Values.keycloak.db.port }}
    database: {{ .Values.keycloak.db.database }}
    usernameSecret:
      name: {{ .Values.keycloak.db.secretName }}
      key: username
    passwordSecret:
      name: {{ .Values.keycloak.db.secretName }}
      key: password
{{- end }}
  bootstrapAdmin:
    user:
      secret: {{ .Values.keycloak.admin.secretName }}
  http:
    httpEnabled: true
    httpPort: {{ .Values.keycloak.service.port }}
  hostname:
    hostname: {{ .Values.keycloak.hostname }}
    strict: false
    strictBackchannel: false
  startOptimized: false
  image: {{ .Values.keycloak.image.repository }}:{{ .Values.keycloak.image.tag }}
  additionalOptions:
    - name: http-relative-path
      value: {{ .Values.keycloak.relativePath }}
{{- end }}
